i.img {
  background-image: url(/img/icon-img.png?v=1);
  background-position: center;
}

i.img-store {
  background-position: 0 0;
}

i.img-vegetables {
  background-position: -17px 0;
}

i.img-smile {
  background-position: -51px 0;
}

i.img-recycle {
  background-position: -68px 0;
}

i.img-basket {
  background-position: -34px 0;
}


/* Colors */
.brown {
  background-color: #4a3520;
}

.yellow {
  background-color: #f2cd00;
}

.orange {
  background-color: #f4922f;
}

.red {
  background-color: #e64b36;
}

.green {
  background-color: #599022;
}
